DirectoryIndex index.php
RewriteEngine On

# Include config.php everywhere
php_value auto_prepend_file C:/xampp/htdocs/atte_ms_new/config/config.php

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^ - [L]


# Redirect all requests to index.php if the requested file does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)＄ index.php

# Rewrite requests without "index.php" in the URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /atte_ms_new/index.php/$1 [L]

# Allow access to JS and CSS files and similar
RewriteRule \.(css|js|png|jpg|ico|svg|xml|webmanifest)$ - [L]

# Block access to other files besides index.php
RewriteRule !^(index.php) [F]

